@import "./variables";

.slider-content {
	position: relative;
	.swiper-slide {
		max-height: 300px;
		.swiper-image {
			position: relative;
			height: 400px;
			filter: brightness(70%);
			width: 100%;
			max-height: inherit;
			max-width: 100%;
		}
	}

	.swiper-top-layer {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		pointer-events: none;
		display: grid;
		gap: 20px;
		place-items: center;
		place-content: center;
		z-index: 100;

		.layer-text {
			font-weight: 600;
			font-size: map-get($map: $fonts, $key: "larger");
			color: #fff;
		}

		.layer-form {
			width: 500px;
			max-width: 90vw;
			display: grid;
			place-items: center;
			gap: 10px;

			.filter-box {
				width: 200px;
				.filter-list {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					border-radius: 10px;
					overflow: hidden;
					background-color: map-get($map: $colors, $key: "low-white");
				}

				.filter-items {
					font-size: smaller;
					transition: all 0.25s ease-in-out;
					padding: 5px;
					text-align: center;
					&.active {
						background: map-get($map: $colors, $key: "blue");
						color: #fff;
						border-radius: 10px;
					}
				}
			}

			.searchbox {
				width: 100%;
				.form-control {
					display: flex;
					border-radius: 50px;
					overflow: hidden;
					.text-control {
						flex-grow: 1;
						padding: 15px 10px;
					}
					.search-btn {
						background: map-get($map: $colors, $key: "blue");
						padding: 15px 20px;

						svg {
							fill: #fff;
						}
					}
				}
			}
		}
	}
}
